scripts/.local/bin/ROPgadget
scripts/.local/bin/__pycache__/
scripts/.local/bin/ansible
scripts/.local/bin/ansible-community
scripts/.local/bin/ansible-config
scripts/.local/bin/ansible-connection
scripts/.local/bin/ansible-console
scripts/.local/bin/ansible-doc
scripts/.local/bin/ansible-galaxy
scripts/.local/bin/ansible-inventory
scripts/.local/bin/ansible-lint
scripts/.local/bin/ansible-playbook
scripts/.local/bin/ansible-pull
scripts/.local/bin/ansible-test
scripts/.local/bin/ansible-vault
scripts/.local/bin/asm
scripts/.local/bin/autopep8
scripts/.local/bin/aws
scripts/.local/bin/aws.cmd
scripts/.local/bin/aws_bash_completer
scripts/.local/bin/aws_completer
scripts/.local/bin/aws_zsh_completer.sh
scripts/.local/bin/awslocal
scripts/.local/bin/awslocal.bat
scripts/.local/bin/black
scripts/.local/bin/blackd
scripts/.local/bin/chardetect
scripts/.local/bin/checksec
scripts/.local/bin/cmark
scripts/.local/bin/common
scripts/.local/bin/constgrep
scripts/.local/bin/convert-caffe2-to-onnx
scripts/.local/bin/convert-onnx-to-caffe2
scripts/.local/bin/crypto
scripts/.local/bin/cyclic
scripts/.local/bin/debug
scripts/.local/bin/decrypto
scripts/.local/bin/deep
scripts/.local/bin/disablenx
scripts/.local/bin/disasm
scripts/.local/bin/django-admin
scripts/.local/bin/dmenuhandler
scripts/.local/bin/dmypy
scripts/.local/bin/dotenv
scripts/.local/bin/elfdiff
scripts/.local/bin/elfpatch
scripts/.local/bin/epylint
scripts/.local/bin/errno
scripts/.local/bin/f2py
scripts/.local/bin/f2py3
scripts/.local/bin/f2py3.10
scripts/.local/bin/f2py3.9
scripts/.local/bin/flake8
scripts/.local/bin/fonttools
scripts/.local/bin/get_objgraph
scripts/.local/bin/hex
scripts/.local/bin/identify-cli
scripts/.local/bin/isort
scripts/.local/bin/isort-identify-imports
scripts/.local/bin/jp.py
scripts/.local/bin/launch_jdtls
scripts/.local/bin/linkhandler
scripts/.local/bin/localstack
scripts/.local/bin/localstack.bat
scripts/.local/bin/main
scripts/.local/bin/mako-render
scripts/.local/bin/mozinfo
scripts/.local/bin/mypy
scripts/.local/bin/mypyc
scripts/.local/bin/naked
scripts/.local/bin/nltk
scripts/.local/bin/nodeenv
scripts/.local/bin/normalizer
scripts/.local/bin/optilog-scenario
scripts/.local/bin/optilog-solver-no-timestamp
scripts/.local/bin/optilog-solver-timestamp
scripts/.local/bin/phd
scripts/.local/bin/pip
scripts/.local/bin/pip3
scripts/.local/bin/pip3.10
scripts/.local/bin/poweroff-nas
scripts/.local/bin/pre-commit
scripts/.local/bin/pre-commit-validate-config
scripts/.local/bin/pre-commit-validate-manifest
scripts/.local/bin/previewer.sh
scripts/.local/bin/pwn
scripts/.local/bin/pwnstrip
scripts/.local/bin/py.test
scripts/.local/bin/pycodestyle
scripts/.local/bin/pydocstyle
scripts/.local/bin/pyflakes
scripts/.local/bin/pyftmerge
scripts/.local/bin/pyftsubset
scripts/.local/bin/pylint
scripts/.local/bin/pylsp
scripts/.local/bin/pyreverse
scripts/.local/bin/pyrsa-decrypt
scripts/.local/bin/pyrsa-encrypt
scripts/.local/bin/pyrsa-keygen
scripts/.local/bin/pyrsa-priv2pub
scripts/.local/bin/pyrsa-sign
scripts/.local/bin/pyrsa-verify
scripts/.local/bin/pysemver
scripts/.local/bin/pyserial-miniterm
scripts/.local/bin/pyserial-ports
scripts/.local/bin/pytail
scripts/.local/bin/pytest
scripts/.local/bin/qndl
scripts/.local/bin/readelf.py
scripts/.local/bin/rpyc_classic
scripts/.local/bin/rpyc_classic.py
scripts/.local/bin/rpyc_registry
scripts/.local/bin/rpyc_registry.py
scripts/.local/bin/rst2html.py
scripts/.local/bin/rst2html4.py
scripts/.local/bin/rst2html5.py
scripts/.local/bin/rst2latex.py
scripts/.local/bin/rst2man.py
scripts/.local/bin/rst2odt.py
scripts/.local/bin/rst2odt_prepstyles.py
scripts/.local/bin/rst2pseudoxml.py
scripts/.local/bin/rst2s5.py
scripts/.local/bin/rst2xetex.py
scripts/.local/bin/rst2xml.py
scripts/.local/bin/rstpep2html.py
scripts/.local/bin/scramble
scripts/.local/bin/setup-nas
scripts/.local/bin/shellcraft
scripts/.local/bin/sqlformat
scripts/.local/bin/stubgen
scripts/.local/bin/stubtest
scripts/.local/bin/symilar
scripts/.local/bin/tabulate
scripts/.local/bin/template
scripts/.local/bin/torchrun
scripts/.local/bin/tqdm
scripts/.local/bin/ttx
scripts/.local/bin/undill
scripts/.local/bin/unhex
scripts/.local/bin/update
scripts/.local/bin/uvicorn
scripts/.local/bin/version
scripts/.local/bin/virtualenv
scripts/.local/bin/yamllint
scripts/.local/bin/yapf
scripts/.local/bin/yapf-diff
