set number relativenumber
set idearefactormode=keep
set ideajoin

let mapleader = " "
noremap <Esc> <nop>

nmap <leader>h :action PreviousTab<CR>
nmap <leader>l :action NextTab<CR>
nmap <leader>bk :action CloseEditor<CR>
nmap <leader><leader> <C-Tab>

set surround
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

